/* =========================================================
   SPORT MANAGEMENT SYSTEM
   COMMON AUTH CSS
   ========================================================= */

/* =========================================================
   RESET
   ========================================================= */

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    Inter,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;

  color: #172033;
  background: #f5f7fa;
}

button,
input {
  font-family: inherit;
}

a {
  text-decoration: none;
}